.App {
  text-align: center;
}

.user-name {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.movie-section {
  display: flex;
  flex-wrap: wrap;
}

.movie-poster {
  height: 640px;
  width: 100%;
  /* zoom  in */
  object-fit: cover;

}

.movie-name {
  font-size: 24px;
  margin: 0;
}

.movie-specs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.movie-container {

  width: 340px;
  margin: 25px;
  padding: 10px;
}

/* RAM */
.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 1rem;
  justify-items: center;
}

.like-dislike-button {
  margin: 15px;

}

.like-button {
  margin-right: 10px;
}